
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('vendor/materialize.css');
@import url('vendor/materialize.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/*colours*/
  :root {
    --primary: #E5E5E5;
    --secondary: #FFE1C4;   
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
  }

  
  /*the arrow to get back to the previous page*/
  .back-arrow {
    position: absolute;
    top: 2.5%;
    left: 5%;
    z-index: 5;  
  }


  /*title container for all components*/  
  .page-title {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .page-title h1 img {
    height: 24px;
    width: 24px;
  }    
  /*phrase component title*/
  .pp-title {
    font-weight: 500;
    font-size: 2.4rem;
  }

  /*home page title*/
  .hp-title {
    font-weight: 500;
    font-size: 1.8rem;
  }


  /*home background*/
  .home-background {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url('images/homebackground.jpg');
    background-size: cover;
    background-position: 50% 58%;
  }

  /*the two buttons at home page*/
  .card-panel.home-card {
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 8px;
    margin-top: 25%;
    color: white;
    background-color:rgba(0,0,0,0.8);
    font-size: 24px;
    font-weight: 500;
    height: 11rem;
    transition-duration: 0.2s;
  }

  /*card panel for each phrase*/
  .card-panel.phrase {
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
    text-align: center;
    position: relative;
    margin-top: 10%;
    background-color: #1A75CA;
  }
  /*effect when a phrase card is clicked*/
  .phrase:active {
    background-color: #01579b;
  }
 
  .phrase-card {
    color: #F8F3F3;
    font-size: 14px;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 6px;
  }

  /*slang cards in slangs component*/
  .slangs .row {
    margin-left: 8%;
  }

  .slang-card {
    background-repeat: no-repeat;
    align-content: center;
    background-size: cover;
    color: white;
    height: 7.8rem;
    width: 7rem;
    border-radius: 8px;
    margin-top: 5%;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center; 
  }


  /*elments in detail component*/  
  .detail-img {
    margin-top: 7rem;
    height: 20%;
    width: 100%;
    border-radius: 8px;
  }

  .detail-title {
    font-size: 2rem;
    font-weight: 600;
  }

  .detail-definition {
    font-size: 1rem;
    font-weight: 600;
  }

  .audio-btn {
    background-size: cover;
    background-image: url('images/speaker.png');
    height: 2.5rem;
    width: 2.5rem;
    border-style: hidden;
  }


  /*Components*/
  .home {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    position: absolute;
    top:0;
    transition-duration: 0.3s;
  }

  .phrases {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    opacity: 0;
    z-index: 0;
    transition-duration: 0.3s;
  }

  .slangs {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    opacity: 0;
    z-index: 0;
    transition-duration: 0.3s;
  }
  .details {
    z-index: 0;
    opacity: 0;
    position: absolute;
    top:0;
    transition-duration: 0.3s;
  }
 


  /*bottom navigation*/
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e0e0e0;
    border-top: 0.1px solid #616161;
    z-index: 5;
  }
  .bottom-nav i {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .bottom-nav div {
    margin-bottom: 5px;
    margin-top:0px;
    font-size: 12px;
  }
